org: deyzito
service: foodiary-api

provider:
  name: aws
  region: us-east-1
  runtime: nodejs22.x
  memorySize: 128
  stage: ${opt:stage, 'dev'}
  environment:
    ${file(./sls/config/env.yml)}
  iam:
    role: ${file(./sls/config/role.yml)}
  httpApi:
    disableDefaultEndpoint: ${env:DISABLE_DEFAULT_APIGW_ENDPOINT}
    authorizers:
      CognitoAuthorizer:
        type: jwt
        identitySource: $request.header.Authorization
        issuerUrl: !GetAtt Userpool.ProviderURL
        audience:
          - !Ref UserpoolClient

package:
  individually: true

build:
  esbuild:
    configFile: ./esbuild.config.mjs

custom:
  cognito:
    poolName: foodiary-api-dev-userpool

  serverless-offline:
    ignoreJWTSignature: true

plugins:
  - serverless-offline

functions:
  - ${file(./sls/functions/auth.yml)}
  - ${file(./sls/functions/meals.yml)}
  - ${file(./sls/functions/accounts.yml)}
  - ${file(./sls/functions/profiles.yml)}
  - ${file(./sls/functions/goals.yml)}
resources:
  - ${file(./sls/resources/UserPool.yml)}
  - ${file(./sls/resources/MainTable.yml)}
  - ${file(./sls/resources/APIGWCustomDomain.yml)}
  - ${file(./sls/resources/MealsBucket.yml)}
  - ${file(./sls/resources/MealsBucketCDN.yml)}
  - ${file(./sls/resources/MealsQueue.yml)}
  - ${file(./sls/resources/DLQAlarmsTopic.yml)}
